[submodule "lib/SteamKit2"]
	path = lib/SteamKit2
	url = git://github.com/redjazz96/SteamKit2.git
[submodule "lib/Newtonsoft.Json"]
	path = lib/Newtonsoft.Json
	url = git://github.com/JamesNK/Newtonsoft.Json.git
[submodule "lib/protobuf-net"]
	path = lib/protobuf-net
	url = git://github.com/redjazz96/protobuf-net.git
