<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SteamBot.SteamBot" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SteamBot.SteamBot>
            <setting name="ApiKey" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="BotUserName" serializeAs="String">
                <value>ac1dl3ak</value>
            </setting>
            <setting name="BotPassword" serializeAs="String">
                <value>Apples</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Trinity</value>
            </setting>
            <setting name="SentryFile" serializeAs="String">
                <value>Trinity.sentryFile</value>
            </setting>
        </SteamBot.SteamBot>
    </userSettings>
</configuration>